@mixin roboto {
  $path: "assets/fonts/Roboto";

  @font-face {
    font-family: "Roboto";
    src: url(#{$path}/Roboto-Regular.eot);
    src: local("Roboto Regular"), local("Roboto-Regular"),
      url(#{$path}/Roboto-Regular.eot?#iefix) format("embedded-opentype"),
      url(#{$path}/Roboto-Regular.woff2) format("woff2"),
      url(#{$path}/Roboto-Regular.woff) format("woff"),
      url(#{$path}/Roboto-Regular.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto";
    src: url(#{$path}/Roboto-Bold.eot);
    src: local("Roboto Bold"), local("Roboto-Bold"),
      url(#{$path}/Roboto-Bold.eot?#iefix) format("embedded-opentype"),
      url(#{$path}/Roboto-Bold.woff2) format("woff2"),
      url(#{$path}/Roboto-Bold.woff) format("woff"),
      url(#{$path}/Roboto-Bold.ttf) format("ttf");
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto";
    src: url(#{$path}/Roboto-Medium.eot);
    src: local("Roboto Medium"), local("Roboto-Medium"),
      url(#{$path}/Roboto-Medium.eot?#iefix) format("embedded-opentype"),
      url(#{$path}/Roboto-Medium.woff2) format("woff2"),
      url(#{$path}/Roboto-Medium.woff) format("woff"),
      url(#{$path}/Roboto-Medium.ttf) format("ttf");
    font-weight: 500;
    font-style: normal;
  }
}

@include roboto();
